/* Base Element Styles
   ------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Marcellus SC', serif;
  color: #f5f5f5;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}

header,
footer {
  background-color: #000;
}

main {
  flex-grow: 1;
  background-color: #005266;
}

button {
  font-family: 'Oswald', sans-serif;
  background-color: #999237;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.5rem 0.75rem;
}

/* Base Layout Styles
   ------------------------- */

/* Navigation  */



/* Layout Containers */

.header-container,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
}

.btn-container {
  display: flex;
  overflow-x: scroll;
}

footer {
  flex-direction: column;
  justify-content: center;
}


/* Page Elements */

.logo {
  width: 48px;
  height: 48px;
}

/* Media Queries
   ------------------------- */

@media screen and (min-width: 768px) {
  
  h1 {
    font-size: 2rem;
  }
  
  .header-container,
  footer {
    height: 80px;
    padding: 0 2rem;
  }
  
  .logo {
    width: 64px;
    height: 64px;
  }
}

